@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

.inter {
  font-family: 'Inter', sans-serif;
}

.border-1-5 {
  border-width: 1.5px;
}

:root {
    --color-card-red: #ba1a1a;
    --color-brand-red: #610000;
    --color-brand-green: #50652a;
    --color-soft-red: #f3d6d8;
    --color-soft-green: #edf5dd;
    --color-card-border: #f4e6e6;
}

.border-card-red {
    border-color: var(--color-card-red);
}

.text-brand-red {
    color: var(--color-brand-red);
}

.bg-brand-red {
    background-color: var(--color-brand-red);
}

.border-brand-red {
    border-color: var(--color-brand-red);
}

.bg-brand-green {
    background-color: var(--color-brand-green);
}

.text-brand-green {
    color: var(--color-brand-green);
}

.bg-soft-red {
    background-color: var(--color-soft-red);
}

.bg-soft-green {
    background-color: var(--color-soft-green);
}

.border-card-soft {
    border-color: var(--color-card-border);
}